<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DoAnPhanMem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.doanphanmem.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.doanphanmem.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.doanphanmem.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addOderController</display-name>
    <servlet-name>addOderController</servlet-name>
    <servlet-class>com.doanphanmem.controller.addOderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOderController</servlet-name>
    <url-pattern>/addOderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.doanphanmem.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonHangController</display-name>
    <servlet-name>DonHangController</servlet-name>
    <servlet-class>com.doanphanmem.controller.DonHangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonHangController</servlet-name>
    <url-pattern>/DonHangController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhachHangController</display-name>
    <servlet-name>KhachHangController</servlet-name>
    <servlet-class>com.doanphanmem.controller.KhachHangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangController</servlet-name>
    <url-pattern>/KhachHangController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NhanVienController</display-name>
    <servlet-name>NhanVienController</servlet-name>
    <servlet-class>com.doanphanmem.controller.NhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhanVienController</servlet-name>
    <url-pattern>/NhanVienController</url-pattern>
  </servlet-mapping>
</web-app>